@use '../abstract/' as *;
.card__info{
    opacity: 0.8;
    margin: 1.5rem  0 ;
    @include flex(space-between,center);
    ul{
        @include flex(flex-start, center);
        gap:1rem;
      
    }
    li, small{
        font-size: 1.5rem;
        line-height: 0;
    }
    i{
        font-size: .5rem;
    }
}